@font-face {
  font-family: "TimesNRMTPro-Cond";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/TimesNRMTPro-Cond.otf")
    format("opentype");
}
@font-face {
  font-family: "AtlasGrotesk-Bold";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGrotesk-BoldItalic";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-BoldItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGrotesk-Medium";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGrotesk-Regular";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGrotesk-RegularItalic";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-RegularItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "AtlasGrotesk-Regular";
  background-image: url("https://multiverselearningproducts.github.io/curriculum/branding/bg.svg");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: repeat-y;
}
:root {
  --mv-ultraviolet: #4d61f4;
  --mv-supernova: #ffe352;
  --mv-white-dwarf: #f4f4f4;
  --mv-molten: #ff7c66;
  --mv-electron: #64abff;
  --mv-deep-space: #242456;
  --mv-aurora: #59d8a1;
  --mv-gray: #c8c8d5;
}
.mv-atlas {
  font-family: 'AtlasGrotesk-Regular', sans-serif;
}
.mv-white {
  color: var(--mv-white-dwarf);
}
.mv-supernova {
  color: var(--mv-supernova);
}
.bg-mv-molten {
  background-color: var(--mv-molten);
}
.bg-mv-supernova {
  background-color: var(--mv-supernova);
}
.bg-mv-white-dwarf {
  background-color: var(--mv-white-dwarf);
}
.b--mv-aurora {
  border-color: var(--mv-aurora);
}
.b--mv-ultraviolet {
  border-color: var(--mv-ultraviolet);
}
h1,
h2,
h3,
h4 {
  font-family: "TimesNRMTPro-Cond";
}

h1 {
  margin-block-start: 0;
  margin-block-end: -3rem;
}

h1::before {
  content: "";
  display: block;
  background-image: url("https://multiverselearningproducts.github.io/curriculum/branding/mv_supernova_tada.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
  position: relative;
  top: 2.5rem;
  left: -3rem;
}

h1::after {
  content: "";
  display: block;
  background-image: url("https://multiverselearningproducts.github.io/curriculum/branding/mv_electron_underline.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 5rem;
  width: 24rem;
  position: relative;
  bottom: 1.5rem;
  right: 0rem;
}
.ar-signIn, .signIn-link {
  display: none !important;
}
.social-btn.google {
  position: relative;
  top: 6rem;
  font-family: "AtlasGrotesk-Regular";
  background-color: var(--mv-white-dwarf);
  padding: 1.5rem 2rem 1.5rem 4.55rem;
  color: var(--mv-deep-space);
  width: 17rem;
  border: solid 0px transparent;
  border-radius: 3px;
  box-shadow: 1px 1px 4px -1px black;
}
.social-btn.google::before {
  content: url('https://design.google/static/images/google-g.svg');
  position: absolute;
  top: .5rem;
  left: 1rem;
}
#header {
  height: 5vh;
}
.network-loading::after {
  content: "Rendering network graph ...";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#network-info-panel {
  position: fixed;
  bottom: 0rem;
  height: 10vh;
  width: 100vw;
  transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#network-info-panel.open {
  height: 95vh;
}
.info-panel-avatar {
  margin-top: -1rem;
  margin-right: -1rem;
  width: 8rem;
  height: 8rem;
  background-position: center center;
  background-size: cover;
}
#network-info-panel main {
  height: 100%;
}

.profile-avatar {
  position: absolute;
  top: 0;
  right: -4rem;
  height: 12rem;
  width: 12rem;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}
@media screen and (min-width: 30em) {
  .network-loading::after {
    content: "Rendering network graph ... please be patient";
  }
}
@media screen and (min-width: 60em) {
  #network-info-panel main {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto;
  }
}
