@font-face {
  font-family: "TimesNRMTPro-Cond";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/TimesNRMTPro-Cond.otf")
    format("opentype");
}
@font-face {
  font-family: "AtlasGrotesk-Bold";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGrotesk-BoldItalic";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-BoldItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGrotesk-Medium";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGrotesk-Regular";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGrotesk-RegularItalic";
  src: url("https://multiverselearningproducts.github.io/curriculum/fonts/AtlasGrotesk-RegularItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "AtlasGrotesk-Regular";
  background-image: url("https://multiverselearningproducts.github.io/curriculum/branding/bg.svg");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: repeat-y;
  color: var(--mv-deep-space);
  overflow: hidden;
  scroll-behavior: smooth;
}
:root {
  --mv-ultraviolet: #4d61f4;
  --mv-supernova: #ffe352;
  --mv-white-dwarf: #f4f4f4;
  --mv-molten: #ff7c66;
  --mv-electron: #64abff;
  --mv-deep-space: #242456;
  --mv-aurora: #59d8a1;
  --mv-gray: #c8c8d5;
}
.mv-atlas {
  font-family: 'AtlasGrotesk-Regular', sans-serif;
}
.mv-atlas-mid {
  font-family: 'AtlasGrotesk-Medium', sans-serif;
}
.mv-white {
  color: var(--mv-white-dwarf);
}
.mv-white-dwarf {
  color: var(--mv-white-dwarf);
}
.mv-electron {
  color: var(--mv-electron);
}
.mv-supernova {
  color: var(--mv-supernova);
}
.mv-gray {
  color: var(--mv-gray);
}
.mv-deep-space {
  color: var(--mv-deep-space);
}
.mv-ultraviolet {
  color: var(--mv-ultraviolet);
}
.mv-molten {
  color: var(--mv-molten);
}
.bg-mv-molten {
  background-color: var(--mv-molten);
}
.bg-mv-supernova {
  background-color: var(--mv-supernova);
}
.bg-mv-white-dwarf {
  background-color: var(--mv-white-dwarf);
}
.bg-mv-electron {
  background-color: var(--mv-electron);
}
.b--mv-aurora {
  border-color: var(--mv-aurora);
}
.b--mv-ultraviolet {
  border-color: var(--mv-ultraviolet);
}
.b--mv-molten {
  border-color: var(--mv-molten);
}
.b--mv-deep-space {
  border-color: var(--mv-deep-space);
}

h1,
h2,
h3,
h4 {
  font-family: "TimesNRMTPro-Cond";
}

.ar-signIn, .signIn-link {
  display: none !important;
}
.social-btn.google {
  position: relative;
  font-family: "AtlasGrotesk-Regular";
  background-color: var(--mv-white-dwarf);
  padding: 1.5rem 2rem 1.5rem 4.55rem;
  color: var(--mv-deep-space);
  width: 17rem;
  border: solid 0px transparent;
  border-radius: 3px;
  box-shadow: 1px 1px 4px -1px black;
}
.social-btn.google::before {
  content: url('https://design.google/static/images/google-g.svg');
  position: absolute;
  top: .5rem;
  left: 1rem;
}
#sign-in {
  background-image: url('/mv-observatory.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 40%;
}
#sign-in img {
  max-width: 100%;
  width: 75%;
  margin: 4rem auto 0;
}
#header {
  height: 5vh;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.network-loading::after {
  content: "Rendering network graph ...";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 4px solid var(--mv-electron);
  border-top-color: var(--mv-gray);
  animation: spinner .6s linear infinite;
  z-index: 10;
}

.profile-avatar {
  position: absolute;
  top: 0;
  right: -4rem;
  height: 12rem;
  width: 12rem;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}
.sun-editor {
  margin: auto;
}
input[type="url"] {
  outline: none;
}
input[type="url"]::placeholder {
  font-size: 13px;
  color: #b1b1b1;
}
.tag {
  display: inline-block;
  margin: 0 .25rem .25rem 0;
  padding: .25rem .75rem .25rem .5rem;
  border-radius: 3px;
  background-color: var(--mv-molten);
  color: var(--mv-white-dwarf);
}
/* class applies to select element itself, not a wrapper element */
.select-css {
  display: block;
  font-size: 13px;
  padding: .7rem 1rem .5rem .8rem;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  border: 1px solid rgb(218, 218, 218);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217%22%20height%3D%2210%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23FF7C66%22%20stroke-width%3D%223%22%20d%3D%22M15%202.136%208.537%208%202%202%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Focus style */
.select-css:focus { 
  outline: none;
}
/* Set options to normal weight */
.select-css option {
  font-weight: normal;
}
/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: var(--mv-gray);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}
.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa;
}
#main-container {
  position: relative;
}
#control-panel {
  background-color: rgba(244,244,244,0.25);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 1rem;
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 0 .5rem .5rem 0;
  border: 2px solid var(--mv-supernova);
  width: 24rem;
  transition: left 1s;
}
#control-panel .control-panel-avatar {
  background-color: var(--mv-gray);
  background-size: cover;
  background-position: center center;
  height: 11rem;
  width: 11rem;
  border-radius: 100%;
  position: absolute;
  top: -1rem;
  right: -3rem;
  border: solid 2px var(--mv-supernova);
}
#control-panel footer nav {
  position: absolute;
  bottom: -2rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 22rem;
}
.mv-hover-underline:hover {
  transform: translate(0,-.25rem);
}
#preview-panel {
  background-color: rgba(244,244,244,0.25);
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 2rem;
  padding: 1rem;
  border-radius: 0 .5rem .5rem 0;
  border: 2px solid var(--mv-supernova);
  width: 24rem;
  height: calc(100vh - 24rem);
  transition: left 1s;  
}
#search {
  background-color: rgba(244,244,244,0.25);
  backdrop-filter: blur(5px);
  top: 0;
  right: 0;
  padding: .5rem .6rem;
  border-radius: 0 0 0 .5rem;
  z-index:10;
  width: 18rem;
}
#search .search-icon {
  position: absolute;
  top: .6rem;
  right: 0.5rem;
}
.suggestion:hover {
  background-color: #64abff;
  opacity: 1;
  color: white;
}
.google-cal {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20viewBox%3D%220%200%20500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M.06%200H500v500H.06z%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFFFFE%22%20d%3D%22M118.457%20381.641h263.184V118.457H118.457z%22%2F%3E%3Cpath%20fill%3D%22%23D84037%22%20d%3D%22M381.543%20500%20500%20381.543H381.543V500%22%2F%3E%3Cpath%20fill%3D%22%23F1B628%22%20d%3D%22M381.543%20381.641H500V118.457H381.543z%22%2F%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3Cpath%20fill%3D%22%23319F4F%22%20mask%3D%22url(%23b)%22%20d%3D%22M118.457%20500h263.184V381.543H118.457z%22%2F%3E%3Cpath%20d%3D%22M0%20381.543v78.906C0%20482.324%2017.676%20500%2039.453%20500h78.906V381.543H0%22%20fill%3D%22%231E783E%22%20mask%3D%22url(%23b)%22%2F%3E%3Cpath%20d%3D%22M500%20118.457V39.453C500%2017.676%20482.324%200%20460.547%200h-78.906v118.457H500%22%20fill%3D%22%23395E9C%22%20mask%3D%22url(%23b)%22%2F%3E%3Cpath%20d%3D%22M381.543%200H39.453C17.676%200%200%2017.676%200%2039.453v342.09h118.457V118.457h263.184V0h-.098%22%20fill%3D%22%235373AA%22%20mask%3D%22url(%23b)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: cover;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  font-weight: bolder;
}
.journal-extract h3 {
  padding-right: 4rem;
}
.journal-extract p {
  font-family: 'AtlasGrotesk-Regular';
  font-size: .875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 16rem;
}
.journal-extract p.tags {
  text-overflow: initial;
  overflow-x: scroll;
}
@media screen and (min-width: 30em) {
  .network-loading::after {
    content: "Rendering network graph ... please be patient";
  }
}
@media screen and (min-width: 60em) {

}
